<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flickrSecret</key>
	<string>95f08e315b30b83e</string>
	<key>flickrKey</key>
	<string>35e8f1d6b23d92d339516194877db6b6</string>
	<key>baseUrl</key>
	<string>https://api.flickr.com/services/rest</string>
</dict>
</plist>
